/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* Barva
#f3f4f6
#d1d5db
#69707c
#374150
#0f172a 
#075547*/

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: #0f172a;
  margin: 0 auto;
}


.logo-wrapper {
  height: 130px;
  margin-top: -20px;
  margin-bottom: 0;
  padding-left: 40px;
  z-index: 0;
}

.logo {
  display: block;
  width: 100%;
  max-width: 1000px;
  fill: #f3f4f6;
}

@media (max-width: 921px) {
    .logo-wrapper {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    line-height: 0;
  }

  .logo {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: -5px;
    margin-top: -20;
  }

  .about {
    margin-top: 0;
    padding-top: 0;
  }
}

@media (max-width: 681px) {
  .logo {
    margin-bottom: -5px;
    margin-top: -20px;
  }
}
