.about {
  background-color: #f3f4f6; 
  width: 100%;
  min-height: 200px;
  padding-top: 40px;
}

.about-inner {
  padding: 0 40px 40px 40px;
  max-width: 1300px; 
  margin: 0 auto;
}

.about h4 {
  font-size: 50px;
  line-height: 1.1;
  color: #374150;
  font-family: "Bodoni Moda", serif;
  margin: 0;
}

.about p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 600px;
  color: #69707c;
}


.one {
  background-color: #f3f4f6; 
  width: 100%;
  min-height: 200px;
  display: flex;                 
  align-items: flex-start;       
  gap: 40px;                     
  max-width: 1300px;             
}

.one-photo img {
  width: calc(100% - 40px); 
  height: auto;
  display: block;
  border-radius: 0 0 10px 10px;
  object-fit: cover;
  max-height: 400px;
  margin: 0 0 40px 40px;
  box-shadow: 2px 1px 9px -3px rgba(0,0,0,0.50); 
}

.one-inner {
  padding: 60px 40px 40px 0;
  max-width: 500px; 
}

.one h4 {
  font-size: 50px;
  line-height: 1.1;
  color: #374150;
  font-family: "Bodoni Moda", serif;
  margin: 0;
}

.one p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 600px;
  color: #69707c;
}


@media (max-width: 1023px) {
  .about-inner {
    max-width: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about h4,
  .about p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 783px) {

  .one-inner {
      max-width: none;
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 0;
    }

  .one {
    display: flex;
    flex-direction: column;
  }

  .one h4,
  .one p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .one-photo {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 30px;
  }

  .one-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0; 
  }
}