

.skills {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 30px;
}

.skills-wrapper {
  display: flex;
  gap: 40px;
}

/* Levý blok: text */
.skills-text {
  width: 45%;
  text-align: right;
  padding-left: 70px;
}

.skills-text h4 {
  font-size: 50px;
  line-height: 1.1;
  color: #374150;
  font-family: "Bodoni Moda", serif;
  margin-bottom: 20px;
}

.skills-text p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 500px;
  color: #69707c;
}

/* Pravý blok: skill bary */
.skills-bars {
  width: 40%;
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #374150;
}

.skill-bar {
  background-color: #f3f4f6;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.skill-level {
  height: 20px;
  background-color: #d1d5db;
  border-radius: 10px;
}

@media (max-width: 1023px) {

  .skills-text {
  width: auto;
  padding-left: 0;
  }

  .skills-bars {
  width: 60%;
}
}

@media (max-width: 557px) {

    .skills-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skills-text {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .skills-text h4 {
    margin-top: 0;
  }

  .skills-bars {
    width: 100%;
  }

}

