/* Paticka */
.footer {
  background-color: #374150;
  color: #f3f4f6;
  padding: 30px 20px;
  margin-top: 40px;
}

.footer-inner {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.footer-inner h1 {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Bodoni Moda", serif;
  color: #f3f4f6;
  letter-spacing: 1px; 
}

.footer-inner p {
  font-size: 10px;
  margin: 0;
  color: #d1d5db;
  letter-spacing: 0.5px; 
  text-transform: uppercase; 
}