<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<!-- HAMBURGER -->  
<header class="nav">
  <div class="nav-container">
    <!-- IKONA -->
    <div class="burger" id="burgerIcon" onclick="toggleMenu()">☰</div>

    <!-- DESKTOP -->
    <nav class="nav-links">
      <ul>
        <li><a href="/">Domů</a></li>
        <li><a href="/#skills">Dovednosti</a></li>
        <li><a href="/#experience">Zkušenosti</a></li>
        <li><a href="/#education">Vzdělání</a></li>
        <li><a href="/galerie/">Galérie</a></li>
        <li><a href="/poptavka/">Nabídka</a></li>
        <li><a href="/#contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- MENU MOBIL -->
<div class="menu-overlay" id="menuOverlay">
  <nav class="mobile-menu">
    <ul>
      <li><a href="/">Domů</a></li>
      <li><a href="/#skills">Dovednosti</a></li>
      <li><a href="/#experience">Zkušenosti</a></li>
      <li><a href="/#education">Vzdělání</a></li>
      <li><a href="/galerie/">Galérie</a></li>
      <li><a href="/poptavka/">Nabídka</a></li>
      <li><a href="/#contact">Kontakt</a></li>
    </ul>
  </nav>
</div>

<!-- LOGO --> 
  <div class="name">
      <div class="logo-wrapper">
      <img id="logo" class="logo" src="/foto/meno.svg">
  </div></div>

{{ content | safe }}

<!-- PATICKA --> 
<footer class="footer">
  <div class="footer-inner">
    <h1>© 2025 kukadlo_akin</h1>
    <p>Portfolio vytvořeno s láskou a pořádnou dávkou CSS.</p>
  </div>
</footer>

<!-- HAMBURGER JAVA --> 
<script>
  function toggleMenu() {
    const menu = document.getElementById("menuOverlay");
    const burger = document.getElementById("burgerIcon");

    menu.classList.toggle("active");
    burger.classList.toggle("active");

    if (menu.classList.contains("active")) {
      burger.textContent = "✕";
    } else {
      burger.textContent = "☰";
    }
  }

  document.querySelectorAll('.mobile-menu a').forEach(link => {
    link.addEventListener('click', () => {
      document.getElementById("menuOverlay").classList.remove("active");
      document.getElementById("burgerIcon").textContent = "☰";
    });
  });
</script>

<!-- SKROLOVANI JAVA --> 
<script>
  window.addEventListener('load', () => {
    if (window.location.hash) {
      const id = window.location.hash.slice(1);
      const el = document.getElementById(id);
      if (el) {
        el.scrollIntoView({ behavior: 'smooth' });
      }
    }
  });
</script>

</body>
</html>